* {box-sizing: border-box}


body{
  background-color: floralwhite;
}

form{
  position: absolute;
  width: 60%;
  height:60%;
  top: 20%;
  left: 40%;
  margin-top: 0%;
  margin-left:0%;
  
}

/* Full-width input fields */
input[type=text], input[type=password],[type=email],[type=tel] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: thistle;
}

input[type=text]:focus, input[type=password]:focus,[type=email]:focus,[type=tel]:focus {
  background-color: lavender;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid black;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
input[type=button] {
  background-color:	dimgray;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  
  
  
}

h1{
  margin-top:5%;
  text-align: center;
}
input[type=button]:hover {
  opacity:1;
}
.otp_div{
  text-align: center;
  margin-top: 3%;
}




